      body {
        background-color: #bfedef;
        font-family: 'Khula', sans-serif;
        margin: 0;
      }
      
      header {
        display: flex;
        justify-content: center;
      }
      
      .search {
        height: 285px;
        width: 100%;
        background-color: #bfedef;
        position: fixed;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: 10px 10px 5px #93b5c6;
      }
      
      .casette {
        background-image: url("casette.png");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 300px;
        margin-top: 10px;
        border-radius: 22px;
      }
      
      #input {
        height: 26px;
        width: 270px;
        margin: 30px 49px 69px 44px;
        padding: 10px 7px 7px 23px;
        font-family: 'Shadows Into Light', cursive;
        font-size: 2rem;
        background-color: #bfedef;
        border-radius: 6px;
      }
      
      .music-player {
        margin-top: 16px;
        margin-left: 50px;
        width: 292px;
        height: 11px;
      }
      
      .mainContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 300px;
      }
      
      .container-results {
        background-color: #bfedef;
        box-shadow: 5px 5px 7px #93b5c6;
        margin: 20px;
        border-radius: 10%;
        text-align: center;
      }
      
      .container-results:hover {
        background-color: lightgray;
      }
      
      .container-results:active {
        background-color: #666;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
      
      p {
        width: 200px;
        font-weight: 700;
        color: #1f5673;
        padding: 1px;
        margin: 2px;
      }
      
      img {
        height: 160px;
        width: 160px;
        margin-top: 10px;
      }
      
      button {
        font-size: 2rem;
        color: #1f5673;
        background-color: #bfedef;
        border: 0;
        outline: none;
        padding: .6rem;
        border-radius: 50%;
      }
      
      button:hover {
        background-color: #666;
        color: white;
      }